.container{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
	background-color: #000000;
	padding-left:50px;
	padding-right:50px;
}
body{
	background-color: #A00000;

}
h1{
	color: #606169;
	font-size: 120px;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 4px 4px 4px #333;
	text-align :center;
}
h2{
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 4px 4px 4px #fff;
	text-align: center;
	color: #62007F;
	font-size: 60px;
}
.red {
	color: #A00000;
}
.button{
	text-align: center;
	font-size: 60px;
}
.buttonInside{
	color: #A00000;

}
p{
	color: white;
	font-family: 'Abril Fatface', cursive;
	padding-left:200px;
	padding-right:200px;
}
h3,h4,h5,h6,blockquote{
	text-align:center;
		font-family: 'Lobster', cursive;
		color: white;

}
ul,ol{
	padding-left:300px;
	font-family: 'Lobster', cursive;
	color: white;
}