body {
	width: 705px;
	margin: auto;
	margin-top: 0px;
	text-align: center;
}
.clear{
	clear: both;
}
h1{
	font-weight: bold;
	text-align: left;
    font-size: 25px;
    letter-spacing: 20px;
    text-transform: uppercase;
}
ul{
	width:705px;
	padding:0px;

}

#content .right{
	padding: 0px;
}

#content li{
    margin: 0px;
    padding-right: 22px;
	padding-bottom: 10px;
    float: left;
    display: inline;
    list-style-type: none;
    color: #b0b0b0;
    font-family: "Sans Serif", Verdana;
    font-size: 10px;
	text-transform: uppercase;
}

img {
	padding-bottom: 30px;
}

.box {
	height: 75px;
	margin: auto;
	float:left;
	text-align: center;
	width:24.7%;
	border-bottom:1px solid #b0b0b0;
	border-right:1px solid #b0b0b0;
}

p{
	font-family: "Sans Serif", Verdana;
	font-size:10px;
	color: #b0b0b0;
}

h2{
	font-family: "Sans Serif", Verdana;
	font-size:15px;
}

#footer{
	font-family: "Sans Serif", Verdana;
	margin-top:25px;
	font-size:10px;
	margin-bottom: 10px;
}

#rightbox{
	border-right:2px solid #FFFFFF;
}