body {
	background: url("../images/prettyPattern.gif"); 
}
p{
	text-decoration:overline;
	font-weight: 900;
}
a{
	background-color: #ffff96;
}
a:hover {
	background-color:transparent;
	color: yellow;
	text-decoration: none;
	text-transform: uppercase;
	
}
b {
	color: blue;
}
h1{
    font-family: "san-serif", serif;
    font-size: 50px;
    background-color: #e6e6be;
    text-align: center;
}
h2{
    font-family: "sans-serif", serif;
    font-size: 30px;
    background-color: #ff0000;
    font-style: italic; 
    text-transform: lowercase;
    letter-spacing: 5px;
}
li{
    padding: 10px;
}
