header{
  width: 100%;
  margin-top:-16px;
  background-color: #a59fcc;
  height:80px;
}
body {
	width: 1000px;
	margin: auto;
	margin-top: 0px;
	text-align: center;

}
ul{
  padding-top: 25px;
  margin-left: 295px;
}
li{
  margin: 0px;
  padding-left: 22px;
	padding-bottom: 10px;
  text-decoration: none;
  display: inline;
  list-style-type: none;
  font-family: "Sans Serif", Verdana;
  font-size: 20px;
  float: left;
}
li a{ 
  text-decoration: none;
	text-transform: uppercase;
  color: black;
}
#footer{
	font-family: "Sans Serif", Verdana;
	margin-top:25px;
	font-size:10px;
	margin-bottom: 10px;
	background-color: #a59fcc;
  height:50px;
  padding-top:12px;
}
#logo img{
  margin:10px;
  height: 54.125px;
  width: 100px;
  float: left;
}
.clear{
  clear: both;
}