.current a{
  color:#4b2887;
}
.hero img{
    width: 1000px;
}
.text{
  float:left;
  width:49%;
  margin-left: 20px;
  margin-right: 20px;
  
}
.text p{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
.overview-image img{
  float:left;
  width:47%;   
}
h2{
  font-family: 'Open Sans', sans-serif;
}