.members{
  float:left;
  width: 19%;
  margin-left: 10px;
  text-align:center;
}
.members p{
  padding:10px;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
}
.members img{
  width: 100%;
  height: 200px;
}
h1 {
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
.mission p{
  text-align:justify;
  margin: auto;
  width:50%;
  font-family: 'Open Sans', sans-serif;
}
.current a{
  color:#4b2887;
}
h2{
    font-family: 'Open Sans', sans-serif;
}