.projects{
  float:left;
  width: 30.3299999999999%;
  margin: 15px;
  text-align:justify;
}
.projects img{
  width: 100%;
  height: 200px;
}
.projects p{
  padding:10px;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align:center;
}
.current a{
  color:#4b2887;
}
h2{
    font-family: 'Open Sans', sans-serif;
}