h1 {
	color:red;
	text-align:center;
	border-bottom:5px solid red;
}
h2 {
	color:blue;
	border-bottom:3px solid blue;
}
.left p {
	margin-left:25px;
}
.right {
	width:25%;
	float:right;
	border:2px;
	border-style:solid;
	border-color:blue;
	
}
.left {
	width:74.5%;
	
}